############################
######## IDEA Files ########
############################
.idea
*.iml
*.DS_Store

############################
######## NODE Files ########
############################
node_modules
npm-debug.log
package-lock.json